{% extends "layout.html" %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="/static/schools/stylesheets/reset.css" />
<link type="text/css" rel="stylesheet" href="/static/schools/stylesheets/rapidsms-styles.css" />
{% endblock %}
{% block footer %}
<div id="bottom">
    <div id="footer" class="container">
        <ul>
            <li>&copy; Dimagi</li>
            <li><a class="footerNav" href="#">DATA</a></li>
            <li><a class="footerNav" href="#">MESSAGING</a></li>
            <li><a class="footerNav" href="#">ABOUT</a></li>
            <li><a class="footerNav" href="#">NEWS</a></li>     
            <li><a class="info" href="#">RESOURCES</a></li>     
            <li><a class="info" href="#">UNICEF</a></li>     
            <li><a class="info" href="#">MINISTRY OF EDUCATION</a></li>     
                                           
    </div><!--End Footer Container-->
</div><!--End Bottom-->    
{% endblock %}