{% extends base_template %}
{% load pagination-tags %}
{% block title %}Message Log{% endblock %}
{% block page_stylesheets %}
<link type="text/css" rel="stylesheet" href="/static/logger/stylesheets/logger.css" />
{% endblock %}
{% block content %}
<form method="get">
  <input id="search_string" name="search_string" type="text" value="{{search_string}}" />
  <input type="submit" value="Search" />
</form>
<h2>All Messages</h2> 
<table width="100%"> 
    <thead>
      {% for column, display in columns %}
          {% ifequal column sort_column %}
             <th class="sorted" id="{% if sort_descending %}descending{% else %}ascending{% endif %}">
               <a href="?sort_column={{column}}&sort_descending={% if sort_descending %}false{% else %}true{% endif %}">
                 {{ display }}
               </a>
             </th>
          {% else %}
             <th><a href="?sort_column={{column}}">{{display}}</a></th>
          {% endifequal %}              
      {% endfor%}
    </thead>
    <tbody>
        {% for message in messages.object_list %}
            <tr>
                <td>{{message.date|date:"d-M-Y H:m:s"}}</td>
                <td>{{message.connection.identity}}</td>
                <td>{{message.connection.backend}}</td>
                <td>{{message.text}}</td>
                <td>{% if message.is_incoming %}&lt&lt&lt
                    {% else %}&gt&gt&gt
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                {% paginator messages %}
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}
