.module {
	background: #f8f8f8;
}

	.module.map {
	}

	.module ul,
	.module li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.module ul {
		padding: 0.5em;
		padding-top: 0;
		margin: 0.5em 0;
		height: 24em;
		overflow-y: scroll;
		overflow-x: auto;
	}

		.module li {
			display: block;
			border: 1px solid #ddd;
			margin-top: 0.5em;
			padding: 0.5em;
			background: #fff;
		}

		.module li:first-child {
			margin-top: 0; }


ul.reports li {
	padding: 0;
	border: none;
	background: none;
	margin-top: 0.5em;
}

	ul.reports li:first-child {
		margin-top: 0; }

	ul.reports div.meta {
		border: 1px solid #ddd;
		border-bottom: 0;
		background: #eee;
		padding: 0.5em;
		font-size: 1em;
		color: #aaa;
		float: left;
	}

	ul.reports div.report {
		border: 1px solid #ddd;
		padding: 0.25em;
		font-size: 2em;
		background: #fff;
		line-height: 1.2;
		clear: both;
	}

	ul.reports div.report strong {
		font-weight: normal;
		background: #ffd;
	}


ul.stats {
}

	ul.stats li {
		text-align: center;
	}

		ul.stats li div {
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
			border-bottom: 1px dotted #eee;
			line-height: 1.2;
			color: #aaa;
		}

			ul.stats li span.num,
			ul.stats li span.total,
			ul.stats li span.perc {
				font-size: 200%;
				color: #000;
			}

			ul.stats li span.total {
				font-size: 150%;
				color: #aaa;
			}

.split-3, .split-2 {
	margin-top: 1em;
}
