.error {
    font-weight:bold;
    color:red;
}

/* the status of folks from the blaster */
.pending {
    background-color:#FFC5C5;
}

.success {
    background-color:#C5FFCA;
}


.prompt_value {
    font-weight:bold;
}
